#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app {
  margin: 30px auto;
}

.intro {
  margin: 30px auto;
  padding: 30px 40px;

}

.text {
  line-height: 2em;
}

.photo {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 300px;
  object-fit: cover;
  object-position: 38% 5%;
  margin: 30px auto;
}

ul {
  list-style: none;
  text-align: left;
  padding: 20px;
}

.list-item {
  color: var(--headings-dark-color);
  font-weight: 500;
  padding: 10px 0;
}

.hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.hobbies li {
  max-width: 250px;
  text-align: center;
  margin: auto;
}

.hobbies-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.hobby-img {
  margin: 10px 0;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 38% 5%;
  justify-self: center;
}